@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

html {}

body {
    margin: 0;
}

header {
    background-color: #262626;
    height: 100px;
}

nav {
    float: right;
    margin-top: 35px;
}

menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

menu>li {
    display: inline-block;
    margin-right: 50px;
    font-family: "Lato Black";
}

menu>li>a {
    text-decoration: none;
    color: #d9d9d9;
}

menu>li>a:hover {
  color: #D35A56;
}

menu>.active {
    color: #ff6760;
    cursor: default;
}

.logo {
    margin-top: 35px;
}

.layout-positioner {
    width: 1110px;
    margin: 0 auto;
}

.top {
    height: 396px;
    background-color: #2a2a2a;
    color: #d9d9d9;
    padding-top: 1px;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-family: "Lato Light";
    color: #d9d9d9;
}

.font-lato-black {
    font-family: "Lato Black";
}

.top-text {
    font-family: "Lato Light";
    font-size: 40px;
}

.button-red {
    padding: 20px 44px;
    background-color: #ff6760;
    color: white;
    border-radius: 5px;
    font-family: "Lato Black";
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
}

.content {
    margin-top: 95px;
    text-align: center;
    color: #616161;
}

.block {
    display: inline-block;
    width: 225px;
    margin-right: 70px;
    text-align: center;
    vertical-align: top;
}

.block:nth-of-type(4) {
    margin-right: 0;
}

.block h3 {
    font-family: "Lato Black";
    font-size: 18px;
    margin-top: 28px;
}

.block p {
    font-family: "Lato Regular";
    font-size: 14px;
}

h2 {
    font-family: "Lato Black";
    font-size: 30px;
}

.content h2 {
    margin-top: 140px;
}

.content h2+p {
    font-family: "Lato Light";
    font-size: 20px;
}

.button-red.small {
    padding: 10px 19px;
    font-size: 12px;
    cursor: pointer;
}

.button-red.small.active {
    background-color: #595959;
    cursor: default;
}

.button-red:hover:not(.active) {
    background-color: #D35A56;
}

.filters {
    margin-top: 55px;
    margin-bottom: 25px;
}

.gallery img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.gallery img:nth-of-type(4n) {
    margin-right: 0;
}

.features, .gallery {
    font-size: 0;
    display: table;
}

.bottom {
    margin-top: 70px;
    background-color: #313131;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.bottom h2 {
    color: #e0e0e0;
    margin-top: 60px;
}

.bottom p {
    font-family: "Lato Light";
    font-size: 20px;
}

.bottom span {
    font-family: "Lato Regular";
    font-size: 14px;
}

.bottom p, .bottom span {
    color: #bebebe;
}

.contact::before {
    vertical-align: middle;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../images/Fill.png") 50% 20% no-repeat;
}

.phone::before {
    vertical-align: middle;
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../images/Phone.png") 50% 20% no-repeat;
}

.phone {
    margin-left: 35px;
}

footer {
    background-color: #2c2c2c;
    text-align: center;
    color: #bebebe;
    font-family: "Lato Regular";
    font-size: 14px;
    padding: 35px;
}

.social {
    margin-top: 30px;
    margin-bottom: 59px;
}

.soc {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 7px;
}

.rss {
    background: url("../images/Social Icons.png") 0 0 no-repeat;
}

.fb {
    background: url("../images/Social Icons.png") -37px 0 no-repeat;
}

.tw {
    background: url("../images/Social Icons.png") -74px 0 no-repeat;
}

.dr {
    background: url("../images/Social Icons.png") -111px 0 no-repeat;
}

.pi {
    background: url("../images/Social Icons.png") -148px 0 no-repeat;
}

.soc:nth-of-type(5) {
    margin-right: 0;
}
